[submodule "firstmodule"]
	path = firstmodule
	url = https://github.com/yogi0001122/python.git
[submodule "source"]
	url = https://github.com/gitpython-developers/GitPython
	path = repo_temp/test/source
[submodule "source_2_1_0"]
	url = https://github.com/gitpython-developers/GitPython
	path = repo_temp/test/source_2
[submodule "awesome"]
	url = https://github.com/gitpython-developers/GitPython
	path = repo_temp/test/temp
